<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit earum eaque fugit libero voluptas, illo amet
        corrupti facilis ea eum enim repudiandae quis eveniet tempora explicabo vitae, mollitia deleniti totam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat autem beatae repellat, magni assumenda, illo
        velit laborum molestiae natus aperiam tenetur nisi sed? Nesciunt est asperiores culpa, provident nostrum
        facilis!</p>

</body>

</html>